﻿@model ToDo.Models.UserLoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<h4>UserLoginViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4" style="text-align:center;justify-content:center">
        @using (Html.BeginForm("LoginAction", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "warning-message" })

            <label>Name:</label>@Html.TextBoxFor(m => m.Name);
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "warning-message" })
            <br>

            <label>Password:</label>@Html.TextBoxFor(m => m.Password)
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "warning-message" })
            <br>
            <input type="submit" />
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
