﻿@model ToDo.Models.UserCreateViewModel

@{
    ViewData["Title"] = "SingIn";
}

<h2>SingIn</h2>

<h4>UserCreateViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4" style="display:flex;">
        @using (Html.BeginForm("SingInAction", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "warning-message" })

        <div>
            <label>Name:</label>@Html.TextBoxFor(m => m.Name);
        </div>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "warning-message"})
            <br>

            <div><label>Password:</label>@Html.TextBoxFor(m => m.Password)</div>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "warning-message" })
            <br>
            <div><label>Confirm Password:</label>@Html.TextBoxFor(m => m.ConfirmPassword)</div>
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "warning-message" })
            <br>
            <input type="submit" />
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
