﻿@model ToDo.Models.TodoViewModel

@{
    ViewData["Title"] = "TodoCreate";
}

<h2>TodoCreate</h2>

<h4>Todo</h4>
<hr />
<div class="row">
    <div class="col-md-4" style="text-align:center;justify-content:center">
        @using (Html.BeginForm("TodoCreate", "Home", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "warning-message" })

            <div><label>Name:</label>@Html.TextBoxFor(m => m.Name);</div>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "warning-message" })
            <br>

            <div>
                <label>Duration:</label>@Html.TextBoxFor(m => m.Description)
            </div>
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "warning-message" })
            <br>

            <div><label>Month:</label>@Html.TextBoxFor(m => m.Month, new { type = "number", min = "1", max = "12", step = "1" })</div>
            @Html.ValidationMessageFor(model => model.Month, "", new { @class = "warning-message" })
            <br>
            <div>
                <label>Day:</label>@Html.TextBoxFor(m => m.Day, new { type = "number", min = "1", max = "31", step = "1" })
            </div>
            @Html.ValidationMessageFor(model => model.Day, "", new { @class = "warning-message" })
            <br>
            <!--<div><label>Hour:</label>@Html.TextBoxFor(m => m.Hour, new { type = "number", min = "0", max = "24", step = "1" })
        </div>
        @*Html.ValidationMessageFor(model => model.Hour, "", new { @class = "warning-message" })*@-->
            <br>
            <input type="submit" />


        }
    </div>
        </div>

        <div>
            <a asp-action="TodoIndex">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
