﻿@model IEnumerable<ToDo.Entities.Todo>

@{
    ViewData["Title"] = "TodoIndex";
}

<h2>TodoIndex</h2>

<p>
    <a asp-action="TodoCreate">Create New</a>
</p>
<table class="table" style="text-align:center;justify-content:center;">
    <thead>

    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="TodoEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="TodoDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
